.header {
  display: grid;
  place-items: center;
}

.header__links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1250px;
}

.header__links h1 {
  font-weight: 500;
}

.header__links a {
  text-decoration: none;
}
.header__links a:visited {
  color: black;
}

.header__autocomplete {
  width: 300px;
  border-radius: 0;
}

.games {
  width: 1250px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  border: 1px solid #F77E56;
  margin-bottom: 50px;
}

.games__date {
  width: 80px;
  text-align: center;
  font-size: larger;
}
.games__item {
  display: grid;
  width: 200px;
  color: black;
  border: 1px solid #F77E56;
}
.games__team {
  align-items: end;
  padding: 0 6px 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.games__score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}
.games__record {
 font-size: 11px;
}