.header {
  display: grid;
  place-items: center;
  border-bottom: 2px solid #399098;
  margin-bottom: 20px;
}

.header__links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1250px;
  
}

.header__links h1 {
  font-weight: 500;
}

.header__links a {
  text-decoration: none;
}
.header__links a:visited {
  color: black;
}

.header__autocomplete {
  width: 400px;
}

.header__title {
  color: #399098;
  
}

.header__title > img {
  width: 40px;
}

.nav {
  margin-bottom: 20px;
  width: 1250px;
  padding-left: 50px;
}


.nav__stats {
  width: max-content;
}
.nav__stats > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav__stats:hover span {
  display: block;
  position: absolute;
}

.nav__statsMenu {
  display: none;
  background-color: white;
  box-shadow: 0 0 1px 0;
  width: 200px;
  padding: 10px;
}

.nav__statsMenu > p {
  color: rgba(131, 0, 0, 0.705);
}

.nav__statsMenu > button {
  background: none;
  border: none;
}

.nav__statsMenu > button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.games {
  width: 1250px;
  height: 60px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  border: 1px solid #399098;
  margin-bottom: 15px;
  color: black;
}

.games__date {
  width: 80px;
  height: 100%;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}
.games__item {
  display: grid;
  width: 200px;
  border: 1px solid #399098;
}
.games__team {
  align-items: end;
  padding: 0 6px 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.games__score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}
.games__record {
 font-size: 11px;
}