

.league_leader_table > thead > tr > th:not(:nth-child(1)):not(:nth-child(2))  {
  cursor: pointer;
}

.league_leader_table > thead > tr > th:hover:not(:nth-child(1)):not(:nth-child(2)) {
  background-color: #3e8e99;
  color:white
}

.selects {
  display: flex;
  align-items: center;
}

.selects > span {
  border: 1px solid black;
  height: 40px;
}

select {
  font-weight: 600;
  color: rgb(100, 100, 100);
  height: 40px;
  margin-right: 10px;
}