

.league_leader_table > thead > tr > th:not(:nth-child(1)):not(:nth-child(2))  {
  cursor: pointer;
}

.league_leader_table > thead > tr > th:hover:not(:nth-child(1)):not(:nth-child(2)) {
  background-color: #3e8e99;
  color:white
}

#select__years {
  font-weight: 600;
  color: rgb(100, 100, 100);
  height: 40px;
}