
/* index.jsx */
.body {
  display: grid;
  place-items: center;
  color: black;
  margin-bottom: 20px;
}

.league{
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1250px;

}

.header-separator {
  margin-bottom: 10px;
}

.playoff{
  grid-column-start: 1;
  grid-column-end: -1;
}


/*---------Team Colors--------*/
.freeAgent {
  background-color: grey;
}
.Hawks {
  background-color: #C8102E;
}
.Celtics {
  background-color: #007A33;
}
.Nets {
  background-color: #000000;
}
.Hornets {
  background-color: #1d1160;
}
.Bulls {
  background-color: #CE1141;
}
.Cavaliers {
  background-color: #860038;
}
.Mavericks {
  background-color: #00538C;
}
.Nuggets {
  background-color: #0E2240;
}
.Pistons {
  background-color: #C8102E;
}
.Warriors {
  background-color: #1D428A;
}
.Rockets {
  background-color: #CE1141;
}
.Pacers {
  background-color: #002D62;
}
.Clippers {
  background-color: #c8102E;
}
.Grizzlies {
  background-color: #5D76A9;
}
.Bucks {
  background-color: #00471B;
}
.Timberwolves {
  background-color: #0C2340;
}
.Pelicans {
  background-color: #0C2340;
}
.Thunder {
  background-color: #007ac1;
}
.Magic {
  background-color: #0077c0;
}
.\37 6ers{
  background-color: #006bb6;
}
.Suns {
  background-color: #1d1160;
}
.Trail.Blazers {
  background-color: #E03A3E;
}
.Kings {
  background-color: #1d1160;
}
.Spurs {
  background-color: #c4ced4;
}
.Raptors {
  background-color: #ce1141;
}
.Jazz {
  background-color: #002B5C;
}
.Wizards {
  background-color: #002B5C;
}

.Lakers {
  background-color: #552583;
}
.Knicks {
  background-color: #006BB6;
}

.Heat {
  background-color: #98002E;
}
/*-----------------------------*/







