.body {
  display: grid;
  place-items: center;
  color: rgb(224, 224, 224);
  margin-bottom: 20px;
}
.games {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  border-bottom: none;
  width: 100%;
  box-shadow: 0 5px 5px -2px;
}

.games__item {
  display: grid;
  width: 200px;
  padding: 10px;
  color: black;
}
.games__team {
  align-items: end;
  padding: 0 6px 0 6px;
  
}
.games__score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.games__record {
 font-size: 11px;
}

.league{
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat();
}

.header-separator {
  margin-bottom: 10px;
}
.player{
  box-shadow: 0 0 5px 1px;
  height: 362.5px;
}

.player__select{
  margin-top: 5px;
  color: white;
}

.player__bio {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 11px;
 
}
.player__table {
  height: 300px;
  color: white;

}



.playoff{
  box-shadow: 0 0 5px 1px;
  grid-column-start: 1;
  grid-column-end: -1;
}



@media (max-width: 1350px){
 
}





/*---------Team Colors--------*/
.player__bio--freeAgent {
  background-color: grey;
}
.player__bio--Hawks {
  background-color: #C8102E;
}
.player__bio--Celtics {
  background-color: #007A33;
}
.player__bio--Nets {
  background-color: #000000;
}
.player__bio--Hornets {
  background-color: #1d1160;
}
.player__bio--Bulls {
  background-color: #CE1141;
}
.player__bio--Cavaliers {
  background-color: #860038;
}
.player__bio--Mavericks {
  background-color: #00538C;
}
.player__bio--Nuggets {
  background-color: #0E2240;
}
.player__bio--Pistons {
  background-color: #C8102E;
}
.player__bio--Warriors {
  background-color: #1D428A;
}
.player__bio--Rockets {
  background-color: #CE1141;
}
.player__bio--Pacers {
  background-color: #002D62;
}
.player__bio--Clippers {
  background-color: #c8102E;
}
.player__bio--Grizzlies {
  background-color: #5D76A9;
}
.player__bio--Bucks {
  background-color: #00471B;
}
.player__bio--Timberwolves {
  background-color: #0C2340;
}
.player__bio--Pelicans {
  background-color: #0C2340;
}
.player__bio--Thunder {
  background-color: #007ac1;
}
.player__bio--Magic {
  background-color: #0077c0;
}
.player__bio--\37 6ers{
  background-color: #006bb6;
}
.player__bio--Suns {
  background-color: #1d1160;
}
.player__bio--Trail.Blazers {
  background-color: #E03A3E;
}
.player__bio--Kings {
  background-color: #1d1160;
}
.player__bio--Spurs {
  background-color: #c4ced4;
}
.player__bio--Raptors {
  background-color: #ce1141;
}
.player__bio--Jazz {
  background-color: #002B5C;
}
.player__bio--Wizards {
  background-color: #002B5C;
}

.player__bio--Lakers {
  background-color: #552583;
}
.player__bio--Knicks {
  background-color: #006BB6;
}

.player__bio--Heat {
  background-color: #98002E;
}
/*-----------------------------*/







