.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.navs {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}