.streak {
  margin: 0;
}

.win::first-letter {
 color: green;
}

.lose::first-letter{
  color: red;
}
.skeleton-standing {
  width: 50%;
  height: 578px;
  background-color: rgb(236, 235, 235);
}

.standings-table {
  box-shadow: 0 0 5px 1px;
}

@media (max-width: 1350px){
  .standings-container {
    width: 100%;
  }
}