.streak {
  margin: 0;
}

.win::first-letter {
 color: green;
}

.lose::first-letter{
  color: red;
}

.standings-table {
  border: 1px solid #F77E56;
  color: black;
}

/* @media (max-width: 1350px){
  .standings-container {
    width: 100%;
  }
} */