.leaders-p {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  line-clamp: 1;
  cursor: pointer;
}

.leaders-p:hover{
  background-color: rgb(255, 255, 255, 0.2);
}

.leaders-list {
  height: 150px;

}