
.leaders {
  border: 1px solid #399098;
  text-align: center;
}
.leaders__header {
  color: black;
  font-size: medium;
}

.leaders li {
  color: black;
  cursor: pointer;
  color: black; 
  padding-right: 30px;
}

.leaders__player {
  display: flex;
  justify-content: space-between;
}

.leaders__player:hover{
  background-color: rgba(41, 41, 41, 0.2);
}

.leaders__buttons {
  margin-bottom: 10px;
}